Chapter 02. 파이선의 기본 문법

In [3]:
a = 20 
b = 30
c = a+b
print (c)

50

In [6]:
#ex 2-2
x = 20
Computer = "Mac"
Age = 30
my_score = 70
_name = "홍길동"
myBirthYear = 1997
data2 = 20.3

print(x, Computer, Age, my_score, myBirthYear, data2)

20 Mac 30 70 1997 20.3

In [7]:
#ex 2-2 mod
x = 20
computer = "Mac"
age = 30
my_score = 70
_name = "홍길동"
my_birth_year = 1997
data2 = 20.3

print(x, computer, age, my_score, my_birth_year, data2)

20 Mac 30 70 1997 20.3

In [10]:
#ex 2-4
x = 30 
print(x)
print(type(x))

30
<class 'int'>

In [11]:
#ex 2-5
x = 30.0 
print(x)
print(type(x))

30.0
<class 'float'>

In [12]:
#ex 2-6
a = 'x'
b = 'i am ok.'
c = '안녕하세요'

print(a)
print(b)
print(c)

print(type(c))

x
i am ok.
안녕하세요
<class 'str'>

In [3]:
#ex 2-7
a = 30        # 0001 1110
print (a)
print(type(a))

b = '30'      # ASCII code (0x33, 0x30), Human interaction
print (b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [22]:
#ex 2-8
x = 'i am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print("")
print(x[-1])
print(x[-3:])
print(x[-4:-2])

i am happy!
i
i a
happy!

!
py!
pp

In [28]:
y = '나는 행복합니다.'

print(y[:2])
print(y[3:-1])

start = 3
print(y[start:-1])

나는
행복합니다
행복합니다

In [31]:
# ex 2-9
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

True
False
False

In [33]:

print (type(a))

<class 'bool'>

In [35]:
#ex 2-16
a = '쥐 구멍에 볕 들 날 있다'

b = len(a)

print(b)

14

In [37]:
#ex 2-17
name = '김동준'
greet = name + "님 안녕하세요!"
print(greet)

김동준님 안녕하세요!

In [40]:
#ex 2-22. 정수형 숫자 0으로 채우기 : %2d
year = 2020
month = 5
day = 29

a = '%d-%02d-%02d' % (year, month, day)
print (a)

2020-05-29

In [47]:
#ex 2-23. 문자열 포맷팅 : %d.2f
height  = 180.0
a  = '키는 %.2f입니다. ' % height
print(a)

키는 180.00입니다.

In [48]:
#ex 2-23. extend 1
height  = 180.0
a  = '키는 %.4f입니다. ' % height
print(a)

키는 180.0000입니다.

In [49]:
#ex 2-24. str.format()문자열 포맷팅
name = '김동준'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 김동준
나이 : 18
시력 : 1.2

In [53]:
#ex 2-24. extend 1
name = '김동준'
age = 18
eyesight = 1.2

a = '%s' % name 
b = '%s' % age
c = '%s' % eyesight

print(a)
print(b)
print(c)

김동준
18
1.2

In [67]:
#ex 2-24.
x = '!i am happy!'
x.format(x)
x.count('!')
x.find('i')
x.upper()
x.lower()

'!i am happy!'

In [68]:
#ex 2-24.
x = '!i am happy!'
x.count('!')

2

In [70]:
x = '!i am happy!'
x.find('i')

1

In [72]:
x = '!i am happy!'
x.find('am')

3

In [73]:
x = '!i am happy!'
x.upper()

'!I AM HAPPY!'

In [74]:
x = '!i am happy!'
x.lower()

'!i am happy!'

In [78]:
x = '!i am happy!'
x.replace('i am', 'i was')

'!i was happy!'

In [79]:
x = '!i am happy!'
x.split()

['!i', 'am', 'happy!']

In [87]:
x = '!i am happy!'
x.isspace()

False

In [88]:
x = '            '
x.isspace()

True

In [93]:
#ex 2-27. 문자열 포맷팅(%)을 이용한 출력
score1 = 80
score2 = 87

sum = score1 +score2
avg = sum / 2

print('두 과목 점수 : %d, %d'% (score1,score2))
print('합계 : %d, 평균 : %d' % (sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83

In [95]:
#ex 2-28. format()을 이용한 출력
name = '김소원'
id = 'kim'
point = 18000

print('이름 :{}'.format(name))
print('아이디 : {}, 마일리지 : {}'.format(id,point))

이름 :김소원
아이디 : kim, 마일리지 : 18000

In [96]:
#sep, end
print('오늘은')
year = 2020
month = 5
day = 29
print(year, month, day)
print('입니다.')

오늘은
2020 5 29
입니다.

In [100]:
#오늘은 2020/5/29 입니다.
print('오늘은' , end = ' ')
year = 2020
month = 5
day = 29
print(year, month, day ,sep = '/' , end = ' ')
print('입니다.')

오늘은 2020/5/29 입니다.

In [106]:
#예제 2-31. input()을 이용한 키보드 입력
name = input('이름을 입력하세요 :')
print('%s님 반갑습니다.' %name)

이름을 입력하세요 :ㅇㅇ
ㅇㅇ님 반갑습니다.

In [109]:
#예제 2-32. 입력받은 두 수의 합 구하기 : 잘못된 결과
a = input('첫 번째 수를 입력하세요 : ')
b = input('두 번째 수를 입력하세요 : ')

c = a + b

print(c)
print(type(a), type(b), type(c))

첫 번째 수를 입력하세요 : 10
두 번째 수를 입력하세요 : 20
1020
<class 'str'> <class 'str'> <class 'str'>

In [115]:
#예제 2-32.  extend 1 : 수정
a = input('첫 번째 수를 입력하세요 : ')
b = input('두 번째 수를 입력하세요 : ')

c = int(a) + int(b)

print(c)
print(type(a), type(b), type(c))

첫 번째 수를 입력하세요 : 10
두 번째 수를 입력하세요 : 20
30
<class 'str'> <class 'str'> <class 'int'>

In [117]:
#예제 2-32.  extend 2 : 수정
a = int(input('첫 번째 수를 입력하세요 : '))
b = int(input('두 번째 수를 입력하세요 : '))

c = a + b

print(c)
print(type(a), type(b), type(c))

첫 번째 수를 입력하세요 : 10
두 번째 수를 입력하세요 : 20
30
<class 'int'> <class 'int'> <class 'int'>

In [119]:
#주석 예제

"""
여러 줄 주석

프로그램명 : 두 수 더하기
작성자     : 홍길동
작성일     : 2020.5.29
"""

a = 10  # 변수 a에 10 저장
b = 20  # 변수 b에 20 저장

c = a + b

#한줄 주석
#결과를 출력한다.
print(c)

30