Chapter 5. 리스트

In [6]:
#Ex 5-1. 리스트 생성
'''
실행결과
['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
[5, 10.2, '탁구', True, [4, 5, 6]]
[1, 3, 5, 7, 9]

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['감', '키위']
키위
'''

fruits = ['사과','오렌지','딸기','포도','감','키위','멜론','수박']
list1 = [5, 10.2, '탁구', True, [4,5,6]]
numbers = list(range(1,10,2))

print(fruits)
print(list1)
print(numbers)

print()
print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])
print(fruits[-1:])
print(fruits[-4:-2])
print(fruits[-3])

['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
[5, 10.2, '탁구', True, [4, 5, 6]]
[1, 3, 5, 7, 9]

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['수박']
['감', '키위']
키위

In [12]:
#Ex 5-2 리스트 요소 추가
a = ['red', 'green','blue']
a.append('yellow')
print(a)

a.insert(1, 'black')
print(a)

b = ['purple', 'white']
a.extend(b)
print(a)

c = a + b 
print(c)

['red', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white', 'purple', 'white']

In [19]:
# ex 5-3
a = [10,20,30,40,50,60,70,80,90,100]
x = a.index(30)
print(x)

a.pop(x)
print(a)

del a[3]
print(a)

a.remove(90)
print(a)

a.clear()
print(a)

2
[10, 20, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 40, 60, 70, 80, 90, 100]
[10, 20, 40, 60, 70, 80, 100]
[]

In [22]:
b = [1,2,3]

b[2] = [33, 35]
print(b)

[1, 2, [33, 35]]

In [24]:
b = [1,2,3]

b[2:] = [33, 35]
print(b)

[1, 2, 33, 35]

In [26]:
#5-4 리스트 요소 카운트
list1 = ['a','bb','c','d','aaa','c','ddd','aaa','b','cc','d','aaa',]
length = list1.count('aaa')

print(length)

3

In [27]:
s = []
for c in 'hello' :
    s.append(c)
print(s)

['h', 'e', 'l', 'l', 'o']

In [31]:
# ex 5-5
list2 = [-7,1,5,8,3,9,11,13]
list2.sort()
print(list2)

list2.sort(reverse=True)
print(list2)

[-7, 1, 3, 5, 8, 9, 11, 13]
[13, 11, 9, 8, 5, 3, 1, -7]

In [35]:
#리스트 요소 추가하기
mylist = ['사과','바나나','파인애플','배']
mylist.append('키위')

for a in mylist:
    print(a)

사과
바나나
파인애플
배
키위

In [37]:
#리스트 요소 삭제하기
mylist = ['사과','바나나','파인애플','포도','오렌지','배']

mylist.remove('바나나')
print(mylist)

['사과', '파인애플', '포도', '오렌지', '배']

In [45]:
#5.7 리스트로 합계와 평균 구하기
scores = [88,75,90,95,77,69,80,92]

sum = 0
for score in scores:
    sum+= score
    
avg = sum / 8

print("총점 : %d, 평균 : %.2f" % (sum,avg))

총점 : 666, 평균 : 83.25

In [46]:
#5.8 while문에서 리스트 활용
animals = ['토끼','거북이','사자','호랑이']

i = 0 
while i < len(animals):
    print(animals[i])
    
    i+=1

토끼
거북이
사자
호랑이

5.4.1 2차원 리스트의 구조

In [64]:
#2차원 리스트의 기본 구조
numbers = [[10,20,30],[40,50,60]]

print(numbers[0])
print(numbers[1])

print(numbers[0][0])
print(numbers[0][1])
print(numbers[0][2])

print(numbers[1][0])
print(numbers[1][1])
print(numbers[1][2])

[10, 20, 30]
[40, 50, 60]
10
20
30
40
50
60

In [2]:
#ex 5-10. 8명 학생의 3과목 성적의 합계/평균

scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]

for i in range(len(scores)):
    sum = 0 
    for j in range(len(scores[i])):
        sum = sum + scores[i][j]
        
    avg = sum / len(scores[i])
    
    print("%d번째 학생의 합계 : %d, 평균 : %.2f" % (i+1, sum, avg))

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

In [9]:
#Q5-6
'''
다음은 while문과 리스트를 이용하여 100점 만점의 점수에 대해 각 등급
(수우미양가)의 개수를 카운트 하는 프로그램이다 .
밑줄 친 부분을 채우시오. 

실행결과 
수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명
'''

s = [64,89, 100,85,77,58,79,67,96,87,
     87,36,82,98,84,76,63,69,53,22]

count_su = 0      #90점 ~ 100점
count_woo = 0     #80점 ~ 89점
count_mi = 0      #70점 ~ 79점
count_yang = 0    #60점 ~ 69점
count_ga = 0      #00점 ~ 59점

i = 0
while i < len(s):
    if s[i] >= 90 and s[i] <= 100:
        count_su = count_su+1
        
    if s[i] >= 80 and s[i] <= 89:
        count_woo = count_woo+1    

    if s[i] >= 70 and s[i] <= 79:
        count_mi = count_mi+1

    if s[i] >= 90 and s[i] <= 69:
        count_yang = count_yang+1
        
    if s[i] >= 0 and s[i] <= 59:
        count_yang = count_yang+1
        
    i += 1
    
print('수 : %d명' % count_su)
print('우 : %d명' % count_woo)
print('미 : %d명' % count_mi)
print('양 : %d명' % count_yang)
print('가 : %d명' % count_ga)

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 0명

In [4]:
#Q5-8
'''
다음은 앞의 예제 5-10에서 사용한 for문 대신 while문을 사용하여
동일한 결과가 출력되도록 하는 프로그램이다. 
밑줄 친 부분을 채우시오. 

실행결과
1번째 학생의 합계 : 260, 평균 86.67
..
..
..
..





'''
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]
i = 0 
while i < len(scores):
    sum = 0 
    j = 0
    while j < len(scores[i]):
        sum = sum + scores[i][j]
        j += 1
        
    avg = sum/len(scores[i])
    print('%d번째 학생의 합계 : %d, 평균 : %.2f' % (i+1, sum ,avg))
    
    i += 1

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

In [10]:
b = []
for i in range(1, 10 , 2):
    b.append(i*i)
print(b)

[1, 9, 25, 49, 81]

In [11]:
b = [i * i for i in range(1, 10) if i % 2 ==1]
print(b)

[1, 9, 25, 49, 81]

In [13]:
b = [i * i for i in range(1, 10 , 2)]
print(b)

[1, 9, 25, 49, 81]

In [15]:
gugudan =  [i*k for i in range(2,10) 
                for k in range(1,10)]
print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]