# SQLite 훈련

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./test.db')

In [3]:
cur = conn.cursor()
cur.execute('select * from eagles')

In [4]:
rows = cur.fetchall()

In [9]:
rows

cur.execute("select * from eagles where position ='투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(4, 108, '최이경', '투수')
(8, 62, '강재민', '투수')
(9, 26, '한승주', '투수')
(10, 111, '김승일', '투수')

## 데이터 추가

In [11]:
cur.execute("insert into eagles(back_no,name,position) values(1,'하주석','내야수')")

In [13]:
conn.commit()

In [15]:
cur.execute("select * from eagles where position ='내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(5, 56, '박정현', '내야수')
(6, 113, '박재경', '내야수')
(11, 1, '하주석', '내야수')

In [16]:
# 파라메터 : 튜플을 사용해서 전달

In [17]:
back_no = 25
name = '최진행'
position = '외야수'
sql = 'insert into eagles(back_no,name,position) values(?,?,?)'
cur.execute(sql, (back_no, name, position))
conn.commit()

In [18]:
cur.execute("select * from eagles where position ='외야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(3, 3, '노태형', '외야수')
(7, 104, '임종찬', '외야수')
(12, 25, '최진행', '외야수')

In [19]:
players = [(38,'안영명','투수'),(54,'서균','투수')]
for player in players:
    cur.execute(sql, player)
conn.commit()

In [21]:
# executemany() 사용
players = [(48,'벨','투수'),(53,'김민우','투수')]
cur.executemany(sql,players)
conn.commit()

## 데이터 조회

In [27]:
# 순회 조회**************************************
sql = "select * from eagles where position ='외야수'"
cur.execute(sql)
for result in cur:
    print(result)

(3, 3, '노태형', '외야수')
(7, 104, '임종찬', '외야수')
(12, 25, '최진행', '외야수')

In [40]:
# 한 건 조회**************************************
cur.execute(sql)
result = cur.fetchone()
print(result)

(3, 3, '노태형', '외야수')

In [41]:

result = cur.fetchone()
print(result)

(7, 104, '임종찬', '외야수')

In [43]:
# 갯수 지정 조회**********************************
sql = "select * from eagles where position ='투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (4, 108, '최이경', '투수'), (8, 62, '강재민', '투수')]

In [44]:
# 전부 조회****************************************
results = cur.fetchall()
results

[(9, 26, '한승주', '투수'),
 (10, 111, '김승일', '투수'),
 (13, 38, '안영명', '투수'),
 (14, 54, '서균', '투수'),
 (15, 48, '벨', '투수'),
 (16, 53, '김민우', '투수')]

In [46]:
sql = "select * from eagles where position ='투수'"
cur.execute(sql)
results = cur.fetchall()
results

[(1, 22, '이태양', '투수'),
 (4, 108, '최이경', '투수'),
 (8, 62, '강재민', '투수'),
 (9, 26, '한승주', '투수'),
 (10, 111, '김승일', '투수'),
 (13, 38, '안영명', '투수'),
 (14, 54, '서균', '투수'),
 (15, 48, '벨', '투수'),
 (16, 53, '김민우', '투수')]

In [48]:
# 필요한 컬럼만 조회
cur.execute(sql)
results = cur.fetchall()
results

[(22, '이태양'),
 (108, '최이경'),
 (56, '박정현'),
 (113, '박재경'),
 (104, '임종찬'),
 (62, '강재민'),
 (26, '한승주'),
 (111, '김승일'),
 (25, '최진행'),
 (38, '안영명'),
 (54, '서균'),
 (48, '벨'),
 (53, '김민우')]

In [52]:
# 백넘버가 20 ~ 39 까지인 선수들의 명수 *******************
sql = "select * from eagles where back_no between 20 and 39"
cur.execute(sql)
results = cur.fetchall()
results

[(1, 22, '이태양', '투수'),
 (9, 26, '한승주', '투수'),
 (12, 25, '최진행', '외야수'),
 (13, 38, '안영명', '투수')]

In [54]:
# 백넘버가 가장 큰 번호를 갖는 선수는? *******************
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
results = cur.fetchone()
results

(6, 113, '박재경', '내야수')

In [56]:
# 포지션별 사람 수
sql = "select position , count(*) from eagles group by position"
cur.execute(sql)
results = cur.fetchall()
results

[('내야수', 3), ('외야수', 3), ('투수', 9), ('포수', 1)]

# 데이터 검색

In [62]:
# back_no가 56번인 선수는?
back_no = 56
sql = "select * from eagles where back_no =?"
cur.execute(sql, (back_no,))
results = cur.fetchone()
results

(5, 56, '박정현', '내야수')

# 데이터 변경

In [66]:
# id가 11인 하주석 선수의 포지션을 외야수로 변경
id_ = 11
position = '내야수'
sql = "update eagles set position =? where id = ?"
cur.execute(sql, (position, id_))
conn.commit()

# 데이터 삭제

In [67]:
sql = "delete from eagles where id = ?"
cur.execute(sql, (id_,))
conn.commit()